:root {
    width: 100%;
    font-size: 100%;
}

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif!important;
}

#main-nav a{
    color: white;
}

#main-nav {
    background-image: linear-gradient(to right,  #0e0a37, #2e123b);
    min-height: 4rem;
}

#main-nav .row {
    padding: 10px;
}

#main-content {
    min-height: 30rem;
    padding: 0 100px;
}

#front-text {
    font-size: 3rem;
    text-align: left;
    margin-top: 8rem;
    margin-bottom: 10rem;
    font-weight: 700;
}

#front-image {
    text-align: center;
    margin-top: 5rem;
}

#proverb {
    min-height: 10rem;
    text-align: center;
    padding: 1rem 0;
}

#services {
    padding: 0 100px;
    margin: 6rem 0;
}

#service-image {
    text-align: center;
}

#services .row {
    margin-bottom: 3rem;
}

#service-text {
    margin: auto;
}

#subscribe {
    min-height: 25rem;
    background-image: linear-gradient(to bottom, #2e123b, #0e0a37);
    padding: 0 100px;
}

#subscribe .row{
    padding: 8rem 0;
}

#subscribe-text {
    color: white;
}

#subscribe .btn-success {
    width: 100%;
}

#footer {
    min-height: 25rem;
    background-color: #000000;
    padding-left: 100px;
}

#footer-content {
    margin: 6rem 0;
}

#footer-content h2,#footer-content p {
    color: white;
    margin-bottom: 1rem; 
}

#footer-content ul {
    padding: 0;
}

#footer-content li {
    color: white;
    font-size: 0.75rem;
    list-style-type: none;
    margin: 1rem 0;
}

#footer-content a{
    color: white;
    text-decoration: none;
}

#footer-copyright {
    min-height: 3rem;
    background-color: #000000;
}

#footer-copyright p {
    color: white;
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 0;
}

/*for mobile screen*/

@media only screen and (max-width: 600px) {
    #main-content {
        min-height: 28rem;
        padding: 0 1rem;
    }
    
    #front-text {
        font-size: 1.5rem;
        text-align: center;
        margin: 2rem 0;
        font-weight: 700;
    }

    #front-image {
        text-align: center;
        margin-top: 0.5rem;
    }

    #proverb {
        min-height: 2rem;
        text-align: center;
        padding: 0 0.5rem;
    }

    #proverb h2 {
        font-size: 1rem;
        font-weight: 600;
    }

    #services {
        padding: 0 2rem;
        margin: 3rem 0;
    }
    
    #service-image {
        text-align: center;
    }
    
    #services .row {
        margin-bottom: 3rem;
    }
    
    #service-text h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    #subscribe {
        min-height: 15rem;
        background-image: linear-gradient(to bottom, #2e123b, #0e0a37);
        padding: 0 2rem;
    }
    
    #subscribe .row{
        padding: 2rem 0;
    }
    
    #subscribe-text {
        color: white;
        margin-bottom: 2rem;
    }

    #subscribe-text h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    #footer {
        padding: 0 2rem;
    }
    
    #footer-content {
        margin: 2rem 0;
        text-align: center;
    }
}




