:root {
    width: 100%;
    font-size: 100%;
}

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif!important;
}

#main-nav a{
    color: white;
}

#main-nav {
    background-image: linear-gradient(to right,  #0e0a37, #2e123b);
    min-height: 3rem;
}

#main-content {
    height: 30rem;
    padding: 0 100px;
}

#front-text {
    font-size: 3rem;
    text-align: left;
    margin-top: 8rem;
    margin-bottom: 10rem;
    font-weight: 700;
}

#front-image {
    text-align: center;
    margin-top: 5rem;
}

#proverb {
    height: 10rem;
    text-align: center;
    padding: 1rem 0;
}

#subscribe {
    height: 25rem;
    background-image: linear-gradient(to bottom, #2e123b, #0e0a37);
    padding: 0 100px;
}

#subscribe .row{
    padding: 8rem 0;
}

#subscribe-text {
    color: white;
}

#subscribe .btn-success {
    width: 100%;
}

